:host {
  ::ng-deep .p-button {
    width: 100%;
  }
}

:host {
  ::ng-deep .p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link {
    background: #ffffff;
    border-color: #373737;
    color: #373737;
    font-size: larger;
    font-weight: 700;
  }
}

:host {
  ::ng-deep .p-tag.p-tag-info {
    background-color: #ffffff;
    color: #2160b8;
    width: 100%;
    font-size: 14px;
    border: 1px solid #1f2937;
    padding: 1rem;
  }
}
:host {
  ::ng-deep .p-tag.p-tag-info:hover {
    background-color: #e9e9e9;
    color: #1f2937;
    cursor: pointer;
  }
}
:host {
  ::ng-deep .p-tag {
    width: 100%;
  }
}
:host {
  ::ng-deep .p-button.p-button-success, .p-button-group.p-button-success > .p-button, .p-splitbutton.p-button-success > .p-button {
    color: #ffffff;
    background: #4665bf;
    border: 1px solid #4665bf;
}
}

:host {
  ::ng-deep .p-tabview .p-tabview-nav li .p-tabview-nav-link {
    border: solid #e5e7eb;
    border-width: 0 0 2px 0;
    border-color: transparent transparent #e5e7eb transparent;
    background: #ffffff;
    color: #6b7280;
    padding: 1.25rem;
    font-weight: 700;
    font-size: larger;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
    transition: box-shadow 0.2s;
    margin: 0 0 -2px 0;
  }
}

.custom-accordion-header {
  color: #333333;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  white-space: nowrap;
}

.description-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
}

.description-text {
  margin: 0px 0px 10px;
  display: flex;
  font-size: 14px;
  color: #555555;
  font-family: Nunito, Tahoma, sans-serif;
  background-color: #ffffff;
  flex-direction: column;
  gap: 10px;
}

.bold-text {
  font-family: NunitoSemiBold, Tahoma, sans-serif;
}
.container {
  margin-top: 20px;
  margin-bottom: 70px;
}
.content {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.image-container {
  width: 50%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding: 20px;
}
.image-box {
  width: 100%;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  padding: 20px;
}
.product-title{
  margin-bottom: 2rem;
}
.product-title span {
  font-size: 36px;
  font-weight: bold;
}

.product-tag {
  display: flex;
}
.quantity-control {
  display: flex;
  align-items: center;
  border: 1px solid #d3d4d5;
  border-radius: 5px;
  width: fit-content;
  padding-inline: 10px;
  font-size: 18px;
}
.quantity-control input {
  width: 3rem;
  height: 50px;
  text-align: center;
  border: none;
}
.tag-selection {
  display: flex;
  gap: 10px;
  justify-content: space-between;
  flex-wrap: wrap;
}

.tag-selection p-tag {
  flex: 1 1 calc(33.33% - 10px); 
  box-sizing: border-box;
}

@media (max-width: 768px) { 
  .tag-selection p-tag {
    flex: 1 1 calc(50% - 10px);
  }
}
.action-buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 30px;
}
.accordion-content img {
  width: 100%;
}
.description-content, .shipping-info {
  font-size: 16px;
}
.note-text {
  font-weight: bold;
  color: #777;
}
.tabs {
  margin-top: 20px;
  font-size: 18px;
}
@media (min-width: 1400px){
  .product-details{
    width: 50%;
    padding: 25px;
  }
  .product-price {
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: 24px;
  }
  img{
    width:100%
  }
}
.product-header{
  display: flex;
  flex-direction: row;
  width:100%;
  justify-content: space-between;
}
@media (max-width: 1400px) {
  :host {
    ::ng-deep .p-tag.p-tag-info {
      background-color: #ffffff;
      color: #1f2937;
      width: 100%;
      font-size: 14px;
      border: 1px solid #1f2937;
      padding: 0.5rem;
    }
  }
  .content {
      flex-direction: column;
  }
  .product-price{
    margin-bottom: 0px;
  }
  .product-header{
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: baseline;
  }
  .product-title{
    margin-bottom: 2rem;
  }
  .quantity-control{
    margin-bottom: 0;
  } 
  .product-details{
    padding-inline: 25px;
  }
  .image-container, .product-details {
      width: 100%;
  }
  .image{
    height: 250px;
  }
  .image-box{
    height: 250px;
    display: flex;
    justify-content: center;
  }
  .product-title span {
      font-size: 28px;
  }
  .product-price {
      font-size: 20px;
  }
  .quantity-control input {
      width: 2.5rem;
  }
  .tabs {
      font-size: 16px;
  }
}
