<div class="text-white px-4 py-8 main-footer">
  <div class="container">
    <div class="row flex-wrap">
      <!-- Logo Column - Mobilede Görünmesin -->
      <div class="col-12 col-md-3 d-flex justify-content-start mb-3 mb-md-0 d-none d-md-flex align-items-center">
        <h3>ONYX'N'THINGS</h3>
      </div>

      <!-- Contact Information Column -->
      <div class="col-12 col-md-3 mb-3 mb-md-0">
        <div class="text-white text-lg mb-4" style="max-width: 290px;">
          Woodgrove Shopping Centre, 533-555 High St, Melton West VIC 3337
        </div>
        <div class="text-white mb-3">
          <i class="bi bi-telephone p-1 me-2" style="font-size:24px"></i>0400 944 144
        </div>
        <div class="text-white mb-3">
          <i class="bi bi-envelope p-1 me-2" style="font-size:24px"></i>info&#64;onyxnthings.com
        </div>
        <div class="text-white mb-3">
          ABN: 82 502 629 374
        </div>
      </div>

      <!-- Company and Our Stores Sections - Mobilde Yanyana Olacak -->
      <div class="col-12 col-md-6 d-flex flex-wrap mb-3 mb-md-0">
        <!-- Company Links Column -->
        <div class="col-6 col-md-6 mb-3 mb-md-0 company">
          <div class=" mb-3" style="font-weight: 700;">Company</div>
          <a class="text-white d-block mb-2" routerLink="/about">About Us</a>
          <a class="text-white d-block mb-2" routerLink="/contact-us">Contact-Us</a>
          <a class="text-white d-block" routerLink="/privacy">Privacy</a>
        </div>

        <!-- Resources Links Column -->
        <div class="col-6 col-md-6 mb-3 mb-md-0">
          <div class="mb-3" style="font-weight: 700;">Our Stores</div>
          <div class="d-flex flex-column flex-md-row gap-2">
            <a class="text-white d-block mb-2 mb-md-0" href="https://www.google.com/maps/place/Woodgrove+Shopping+Centre/@-37.6858394,144.5623604,15z/data=!4m2!3m1!1s0x0:0xf0456760532d4f0?sa=X&ved=1t:2428&ictx=111">Melton</a>
            <a class="text-white d-block mb-2 mb-md-0" href="https://www.google.com/maps/place/Broadmeadows+Central/@-37.6806914,144.9170376,17z/data=!3m1!5s0x6ad65ac2c05aa975:0x130733144052252a!4m10!1m2!2m1!1sbroadmeadows+shop!3m6!1s0x6ad65a899b776393:0xb98bfebb57b5e5b6!8m2!3d-37.6804006!4d144.9193346!15sChFicm9hZG1lYWRvd3Mgc2hvcFoTIhFicm9hZG1lYWRvd3Mgc2hvcJIBD3Nob3BwaW5nX2NlbnRlcuABAA!16s%2Fm%2F03qfn0b?entry=ttu&g_ep=EgoyMDI0MTEwNi4wIKXMDSoASAFQAw%3D%3D">Broadmeadows</a>
            <a class="text-white d-block mb-2 mb-md-0" href="https://www.google.com/maps/place/Watergardens+Shopping+Centre/@-37.6989971,144.7767572,15z/data=!4m2!3m1!1s0x0:0xf0456760532d7c0?sa=X&ved=1t:2428&ictx=111">Watergardens</a>
          </div>
        
          <!-- Social Media Links -->
          <div class="mt-3">
            <a class="text-white d-block mb-2" href="https://www.instagram.com/onyx_n_things/" target="_blank">
              <i class="bi bi-instagram p-1 me-2" style="font-size:24px"></i>Instagram
            </a>
            <a class="text-white d-block" href="https://www.facebook.com/OnyxNThings/" target="_blank">
              <i class="bi bi-facebook p-1 me-2" style="font-size:24px"></i>Facebook
            </a>
          </div>
        </div>
        
      </div>

    </div>
  </div>
</div>
