<div class="container" style="margin-top: 20px;padding-inline: 0px;">
    <div id="content" style="display: flex;">
        <div id="products" style="width: 100%;">
                <div class="line-with-text"
                    style="margin-inline: 10px; justify-content: space-between; margin-top: 5px; margin-bottom: 10px; display: flex; align-items: center;">
                    <div class="select">
                        <label>
                            <select  class="form-select" style="font-size: 1rem;" (change)="onSelectChange($event)">
                                <option value="/kids">All Kids Models</option>
                                <option value="/kids/boys">Boy Models</option>
                                <option value="/kids/girls">Girl Models</option>
                                <option value="/kids/baby">Baby Models</option>
                              </select>     
                        </label>
                    </div>
                    <div class="modelList">
                        <a routerLink="/kids"  style="margin: 0px;"  class="line-text">All Kids Models</a>
                        <a routerLink="/kids/boys" class="line-text">Boy</a>
                        <a routerLink="/kids/girls" class="line-text">Girl</a>
                        <a routerLink="/kids/baby" class="line-text" >Baby</a>
                    </div>
                    <div style="display: flex;flex-direction: row;width: 50%;justify-content:end;">
                        <label>
                            <select class="form-select" style="font-size: 1rem;margin: 0px 20px;"(change)="onSortChange($event)">
                                <option value="none">Recommended</option>
                                <option value="asc">High to Low</option>
                                <option value="decs">Low to High</option>
                                <option value="A-Z">Name (A-Z)</option>
                                <option value="Z-A">Name (Z-A)</option>
                            </select>
                        </label>
                    </div>
                </div>
                <div class="router">
                    <router-outlet style="padding-inline: 0px;"></router-outlet>
                </div>
            </div>
    </div>
</div>
