<div class="row" >
    <div id="content" class="col-sm-12" style="padding: 20px; margin-bottom: 100px;">
        <div class="content" id="content">
            <h1 class="title page-title" style="display: flex; align-items: center; justify-content: center; margin-bottom: 20px;">About &amp; Us</h1>
            <p style="text-align: center; font-size: 14px;"><span style="font-size: 16px;">A Little About Us:</span></p>
            <p style="text-align: center; font-size: 14px;">Welcome to Onyx N Things, your ultimate destination for unique and personalized caricatures. We specialize in bringing your imagination to life by offering high-quality, custom-made caricatures. Whether you're looking for a fun, artistic portrait of yourself or a loved one, you've come to the right place.</p>
            <p style="text-align: center; font-size: 14px;"><br></p>
            <p style="text-align: center; font-size: 14px;">At Onyx N Things, we take pride in offering a simple yet creative service: our customers can choose their favorite caricature designs and add their own photos to make them truly one-of-a-kind. With our easy-to-use online platform, creating your personalized caricature is just a few clicks away.</p>
            <p style="text-align: center; font-size: 14px;"><br></p>
            <p style="text-align: center; font-size: 14px;">What sets us apart is our dedication to delivering high-quality, hand-crafted artwork that captures the essence of your photo in a fun and exaggerated way. Our team of talented artists works tirelessly to ensure each caricature is unique and vibrant, making it a perfect gift or keepsake.</p>
            <p style="text-align: center; font-size: 14px;"><br></p>
            <p style="text-align: center; font-size: 14px;">We're passionate about providing an enjoyable and seamless experience for our customers. From the moment you visit our website to receiving your custom caricature, we are committed to ensuring your satisfaction. At Onyx N Things, we believe in the power of laughter and creativity to bring joy into your life.</p>
            <p style="text-align: center; font-size: 14px;"><br></p>
            <p style="text-align: center; font-size: 14px;">Thank you for choosing Onyx N Things. We can't wait to create something special for you!</p>
        </div>
    </div>
</div>
