
@media (max-width: 1400px) {
    .card-width {
        width: 80%;
    }
  }
  @media (min-width: 1400px) {
    .card-width {
        width: 30%;
    }
  }
  .btn{
    background-color: #4665bf;
    border: 1px solid #4665bf;
    color: white;
  }