<div class="container d-flex justify-content-center align-items-center" style="min-height: 80vh;">
    <p-toast />
    <p-confirmDialog />
    <div class="card card-width shadow">
        <div class="card-body p-5" >
            <h6 class="text-center card-title mb-5" style="font-size: 20px;">Forgot Password</h6>
            <form>
                <div class="mb-3">
                    <input type="email" [(ngModel)]="email" name="email" id="email" class="form-control form-control-lg" placeholder="name@mail.com" required />
                </div>
                <button type="button" (click)="onPasswordReset()" class="btn btn-dark w-100 p-3">Send E-mail</button>
            </form>
        </div>
    </div>
</div>
<div style="background-image: url('assets/background.jpg');
background-size: cover;
background-position: center;
filter: grayscale(100%);
height: 100vh;
position: absolute;
top: 0;
left: 0;
width: 100%;
z-index: -1;    opacity: 0.4;"></div>


  