.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .popup-content {
    background: url('/assets/warningpopup.png') no-repeat center center;
    background-size: cover;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 1000px;
    position: relative;
    color: white;
    height: 794px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  }

  @media (max-width: 768px) {
    .popup-content{
      width: 100%;
      margin-inline: 5px;
      height: 350px;
    }
  }
  
  .popup-content h2 {
    font-size: 22px;
    margin-bottom: 15px;
  }
  
  .popup-content p {
    font-size: 14px;
    margin-bottom: 20px;
  }
  
  .popup-checkbox {
    margin-bottom: 15px;
    font-size: 14px;
  }
  
  .popup-actions {
    margin-top: 20px;
  }
  
  .popup-actions button {
    margin: 5px;
    padding: 10px 15px;
    font-size: 14px;
    cursor: pointer;
    border: none;
    background-color: #4CAF50;
    color: white;
    border-radius: 5px;
  }
  
  .popup-actions button:hover {
    background-color: #45a049;
  }
  
  .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent;
    border: none;
    font-size: 24px;
    color: white;
    cursor: pointer;
  }
  
  .close-btn:hover {
    color: #f44336;
  }
  