<div style="display: flex; flex-wrap: wrap; gap: 2rem;">
    <div style="display: flex; flex-direction: column; width: 45%;  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
                    border-radius: 5px; padding:2rem;">
        <div style="display: flex; flex-direction: row; width: 100%; justify-content: space-between;">
            <div>
                <p-avatar icon="pi pi-user" styleClass="mr-2" [style]="{ 'background-color': '#dee9fc', color: '#1a2551' }"
                    shape="circle" />
                    <span style="margin-left:1rem; font-size:16px;">John Gross</span>
            </div>
            <div>
                <p-rating [(ngModel)]="value" [readonly]="true" [cancel]="false" />
            </div>
        </div>
        <hr>
        <div>
            <p style="margin-top: 1rem;">Etiam tempor orci eu lobortis elementum nibh tellus.
                Auctor eu augue ut lectus arcu bibendum at varius vel.
                Id aliquet lectus proin nibh nisl. Lorem ipsum dolor sit amet consectetur.</p>
        </div>
    </div>
    <div style="display: flex; flex-direction: column; width: 45%;  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
                    border-radius: 5px; padding:2rem;">
        <div style="display: flex; flex-direction: row; width: 100%; justify-content: space-between;">
            <div>
                <p-avatar icon="pi pi-user" styleClass="mr-2" [style]="{ 'background-color': '#dee9fc', color: '#1a2551' }"
                    shape="circle" />
                    <span style="margin-left:1rem; font-size:16px;">Amy Blondie</span>
            </div>
            <div>
                <p-rating [(ngModel)]="value" [readonly]="true" [cancel]="false" />
            </div>
        </div>
        <hr>
        <div>
            <p style="margin-top: 1rem;">Etiam tempor orci eu lobortis elementum nibh tellus.
                Auctor eu augue ut lectus arcu bibendum at varius vel.
                Id aliquet lectus proin nibh nisl. Lorem ipsum dolor sit amet consectetur.</p>
        </div>
    </div>
    <div style="display: flex; flex-direction: column; width: 45%;  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
                    border-radius: 5px; padding:2rem;">
        <div style="display: flex; flex-direction: row; width: 100%; justify-content: space-between;">
            <div>
                <p-avatar icon="pi pi-user" styleClass="mr-2" [style]="{ 'background-color': '#dee9fc', color: '#1a2551' }"
                    shape="circle" />
                    <span style="margin-left:1rem; font-size:16px;">George Wisdom</span>
            </div>
            <div>
                <p-rating [(ngModel)]="value" [readonly]="true" [cancel]="false" />
            </div>
        </div>
        <hr>
        <div>
            <p style="margin-top: 1rem;">Etiam tempor orci eu lobortis elementum nibh tellus.
                Auctor eu augue ut lectus arcu bibendum at varius vel.
                Id aliquet lectus proin nibh nisl. Lorem ipsum dolor sit amet consectetur.</p>
        </div>
    </div>
    <div style="display: flex; flex-direction: column; width: 45%;  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
                    border-radius: 5px; padding:2rem;">
        <div style="display: flex; flex-direction: row; width: 100%; justify-content: space-between;">
            <div>
                <p-avatar icon="pi pi-user" styleClass="mr-2" [style]="{ 'background-color': '#dee9fc', color: '#1a2551' }"
                    shape="circle" />
                    <span style="margin-left:1rem; font-size:16px;">Jude Carter</span>
            </div>
            <div>
                <p-rating [(ngModel)]="value" [readonly]="true" [cancel]="false" />
            </div>
        </div>
        <hr>
        <div>
            <p style="margin-top: 1rem;">Etiam tempor orci eu lobortis elementum nibh tellus.
                Auctor eu augue ut lectus arcu bibendum at varius vel.
                Id aliquet lectus proin nibh nisl. Lorem ipsum dolor sit amet consectetur.</p>
        </div>
    </div>
</div>